* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

:root {
  --text-color: #fff;
  --bg-color:black;
  --main-color: #ffa343;

  --h1-font: 6rem;
  --h2-font: 3rem;
  --p-font: 1rem;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  background:transparent;
  padding: 27px 17%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .50s ease;
 
}

.logo {
  font-size: 33px;
  color: var(--text-color);
  font-weight: 700;

}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 500;
  margin: 15px 22px;
  /* Réduit la marge sur le côté droit */
  transition: all .50s ease;
}

.navbar a:hover {
  color: var(--main-color);
}

.h-right {
  display: flex;
  align-items: center;
}

.h-right a:first-child {
  color: var(--text-color);
  font-size: var(--p-font);
  margin-right: 20px;
}

.h-right a {
  vertical-align: middle;
  font-size: 20px;
  color: var(--text-color);
  margin-right: 18px;
 margin-left: 5px;
  transition: all .50s ease;
}

.h-right a:hover {
  color: var(--main-color);
  transform: translateY(-3px);
}

#menu-icon {
  color: var(--text-color);
  font-size: 30px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

section{
  padding: 70px 17% 60px;
}





.Home {

  position: relative;
  height: 100vh;
  width: 100%;
  background-image:url("https://images.pexels.com/photos/6296905/pexels-photo-6296905.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load") ;
  background-size: cover;
  background-position: bottom center;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}


.home-text h1{
  font-size: var(--h1-font);




  
}


.home-text p{
  background-color: #fff;
  color: black;
  border-radius: 10px;
  margin-top: 300px;

 

  
}




header.sticky{
  padding: 8px 17%;
  background: transparent;
  backdrop-filter: blur(35px);
}


.basketball{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap:9rem;
}
.basketball-img img{
  width: 100%;
  height: auto;
  border-radius: 10px;

}
.basketball-img img:hover {
  filter: brightness(90%) hue-rotate(50deg);
  transform: scale(1.04);
  cursor: pointer;

}
.basketball-title h1{
  font-size: 33px;
  font-weight: 1000;
  color:whitesmoke;
  letter-spacing: 3px;
  margin-bottom: 20px;


}
.basketball-text p{
  font-size: var(--p-font);
  font-weight: 500;
  line-height: 30px;
  color: #ffffffab;
  margin-bottom: 35px;
}
.basketball-text p:hover {
  filter: brightness(90%) hue-rotate(50deg);
  transform: scale(1.04);
  cursor: pointer;
}
.center-text {
  text-align: center;
}


.center-text h2 {
  font-size: 33px;
  font-weight: 1000;
  color:whitesmoke;
  letter-spacing: 3px;
  margin-bottom: 20px;
}





.footer{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(20px,auto));
  gap:2rem;
}
.footer-box{
  display: flex;
  flex-direction: column;
}
.footer-box h2{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  
}
.footer-box h2{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}


.footer-box p{
  font-family: 'Times New Roman', Times, serif;
}
.footer-box a{
  color:#979797;
  margin-bottom: 0,8rem;
  transition: all .50s ease;
  font-family: 'Times New Roman', Times, serif;

}
.footer-box a:hover{
  transform: translateX(-5px);
  color:var(--text-color);
}
.social a{

  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  background-color:black;
  color:whitesmoke;
  font-size: 20px;
  border-radius: 50%;
  margin-right:8px ;
  transition: transform 0.6s;
}
.social a:hover{
  background-color: var(--main-color);
  color:var(--bg-color);
  transform: translateX(-4px);
}
.copyright-box p{
  text-align: center;
  padding: 20px;
  color:#979797;
  font-size: 15px;
}
@media(max-width:1200px){
  header{
    padding: 14px 5%;
  
  }
  header.sticky{
    padding: 7px 5%;
  }
  section{
    padding: 45px 5% 35px;
  }
  :root{
    --h1-font: 4.6rem;
    --h2-font: 2.8rem;
    --p-font: 15px;
  }
  .Home{
    height: 90vh;
  }
}

@media(max-width:1050px){
  .basketball{
    gap:3rem;
  }
  .tour{
    gap: 3rem;
  }
  .home-packages{
    gap: 3rem;
  }

#menu-icon{
  display: block;
}

.navbar{
  position:absolute;
  width: 100%;
  height: 100vh;
  padding: 40px 60px;
  top:0;
  bottom:O;
  left:100%;
  right: 0;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  transition: all .50s ease;

 }
 .navbar a{
  display: block;
  color: #979797;
  padding: 0;
  margin: 0px 0px 40px 0px;
  font-size: 2.2rem;
  font-weight: 400;
 }
 .navbar .open{
  left: 0;
 }
}

@media(max-width:800px){
.basketball{
grid-template-columns: 1fr;
}
.tour{
  grid-template-columns: 1fr;
}
.home-packages{
  grid-template-columns: 1fr; 
}
}
@media(max-width:600px){
  :root{
    --h1-font: 3.5rem;
    --h2-font: 2.1rem;
  
  }
  .home{
    height: 85vh;
  }

}
@media(max-width:450px){
  header{
    padding: 12px 3%;
  
  }
  header.sticky{
    padding: 7px 3%;
  }
  section{
    padding: 60px 3% 50px;
  }
}








.container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;

  min-height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  
 
}

.slide-container {
  margin: 0 30px;
  overflow: hidden;
}


.card {
  background: black;
  border-radius: 8px;
}

.card .image-box {
  height: 200px;
}
.card .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
  colo
}
.card .image-box img:hover {
  filter: brightness(90%) hue-rotate(50deg);
  transform: scale(1.04);
  cursor: pointer;
}


.card .profile-details {
  display: block;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
}

.profile-details .name {
  font-size: 15px;
  font-weight: 500;
}
.profile-details .text {
  font-size: 12px;
  font-weight: 500;
  color: whitesmoke;
}
.swiper-navBtn {
  color: whitesmoke;
  height: 40px;
  width: 40px;
  background:white;
  border-radius: 50%;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 18px;




}
.swiper-pagination-bullet {
  background-color: #000;
 
}



 
@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
}